@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  html {
    font-family: 'Montserrat', sans-serif;
  }

  :root {
    --color-primary: 125 152 132;
    --color-dark: 49 46 46;
    --color-secundary: 223, 229, 224;
    --color-gray: 189 189 189;
    --color-link: 10 103 243;
  }


}

@layer components {
  .listContainer {
    @apply text-center flex gap-4  items-center flex-col lg:flex-row
  }

  .menuContainer {
    @apply absolute top-20 w-full  left-0 h-0  shadow-inner shadow-secundary 
    bg-[#fefefe] border-silver-100 border-b-2 overflow-hidden  duration-300 transition-all ease-in-out
    lg:block lg:w-fit lg:h-fit lg:relative  lg:top-0 lg:border-none lg:bg-white lg:shadow-none
    lg:duration-75
  }
  .btn-buger-container{
    @apply h-8 flex transition-all ease-in-out justify-center items-center hover:scale-110
  }
  .linkMenu {
    @apply hover:bg-secundary py-4 px-20 max-w-xs w-full rounded-md cursor-pointer font-medium text-heading7
                           lg:py-1 lg:px-2  
  }
  .btn-filter{
    @apply bg-white py-2.5 px-5 rounded-md text-heading9 sm:text-heading8 font-bold text-gray
  }
}


.menu-burger {

  height: 3px;
  width: 36px;
  background-color: #7D9884;
  display: block;
  position: relative;
  transition: ease-in-out all .3s;

}

.menu-burger.close-menu {
  background: transparent;
}

.menu-burger::before,
.menu-burger::after {
  content: '';
  transition: ease-in-out all .3s;
  position: absolute;
  background-color: #7D9884;
  height: 3px;
  width: 100%;
  left: 0;
}

.menu-burger::before {
  top: 10px;
  background-color: #7D9884;
}

.menu-burger::after {
  bottom: 10px;
}

.menu-burger.close-menu::after {
  transition: ease-in-out all .3s;
  transform: rotate(-45deg);
  top: 50%;
}

.menu-burger.close-menu::before {
  top: 50%;
  transform: rotate(45deg);
  transition: ease-in-out all .3s;
}


.containerCards{
  display: grid;
  gap: 32px;
  grid-auto-rows: auto;
  grid-template-columns: repeat(auto-fill,minmax(324px,1fr));
}